 
.bg-img {
    position: relative; 
    background: url("../../../public/imagens/equipe-medica.jpeg") no-repeat top/cover;
    height: 22rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 1.5rem;
}
  
  .bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
  }
  
  .bg-img h1 {
    position: relative; 
    z-index: 1;
  }

  .section {
    background-color: #f8f9fa;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section h2 {
    text-align: center;
    color: #004080; 
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .section p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    font-size: 1rem;
    padding: 5px 0;
    color: #333;
  }

