.bg-img-servico {
    position: relative; 
    background: url("../../../public/imagens/servicos.jpg") no-repeat center/cover;
    height: 22rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin-bottom: 1.5rem;
}
  
  .bg-img-servico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
  }
  
  .bg-img-servico h1 {
    position: relative; 
    z-index: 1;
  }